# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist
/packages/frontend/build
/packages/frontend/dist
/packages/backend/build
/packages/backend/dist

# Misc
.DS_Store
.env
packages/backend/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
*.iml

# TypeScript
*.tsbuildinfo

